
  VITE_IMAGE_HOSTING_KEY=6******************
  VITE_apiKey=A*************************
  VITE_authDomain=ja******************
  VITE_projectId=ja***
  VITE_storageBucket=jabno********************
  VITE_messagingSenderId=7*********
  VITE_appId=1****************************************
  VITE_measurementId=G-***********
  # VITE_localhost=http://localhost:5000
  VITE_localhost=https://*************************
